%p#notice= notice
%h1 Users

-if current_user.head_admin?
  %table
    %thead
      %tr
        %th Name
        %th E-mail
        %th Role
        %th{:colspan => "4"}
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.role_i18n
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)

%br/
= link_to 'New User', new_user_path
